// Begin Jade template.
extends ../layout
 
include ./mixins/index.jade

block css
    
//-HTML content to display.
block content
  #main.jumbotron
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h1 Almost There
  section#fixfields.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        if err.type == 'email_null'
          h4 No email provided.
          hr
          p err.description
          +fixEmail()
        else if err.type == 'email_taken'
          h4 Email exist as user.
          hr
          +fixEmail()
        else if err.type == 'alias_null'
          h4 No login alias.
          hr
          +fixAlias()
        else if err.type == 'alias_taken'
          h4 Login alias taken.
          hr
          +fixAlias()
        else if err.type == 'null'
          h4 No authentication values.
          hr
          +fixEmailAlias()
        else if err.type == 'social_taken'
          h4 Cannot Register Social Account
          p This may be because it is already associated to a service account.
          br
          a(href='/') Home »
        
block js-bottom