// Begin Jade template.
extends ../layout
   
//-HTML content to display.
block content
  #main.jumbotron
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h1 
            img(src='/images/progress.png', style='width:50px;')
            |  Project Status
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .col-xs-12.col-sm-3.col-md-3.col-lg-3
              h5 State
              p.big-text(style='color:#64a964;text-align:left;') Active
              small.text-muted Completion Date: May 10, 2015
              br
              br
            .col-xs-12.col-sm-9.col-md-9.col-lg-9
              small Project Plan Products
              br
              br
              .col-xs-6.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;')
                  h5 Total Sprints
                  p.big-text 3            
              .col-xs-6.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;')
                  h5 Task
                  p.big-text 10   
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;')
                  h5 User Stories
                  p.big-text 300   
            .col-xs-12.col-sm-3.col-md-3.col-lg-3
              
            .col-xs-12.col-sm-9.col-md-9.col-lg-9
              small Current Work Products
              br
              br
              .col-xs-6.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;background:#f9f9f9;')
                  h5 Sprint
                  p.big-text One            
              .col-xs-6.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;background:#f9f9f9;')
                  h5 Task
                  p.big-text 4   
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .panel.panel-default(style='padding:5px 20px;background:#f9f9f9;')
                  h5 User Stories
                  p.big-text 100   
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h3 Burn Downs
          .col-xs-12.col-sm-6.col-md-6.col-lg-6    
            .col-xs-12.col-sm-12.col-md-12.col-lg-12       
              h5 Current Sprint Life Cycle
              .progress.progress-bar-striped(style='background: rgba(245, 245, 245, 1); border: 1px solid rgba(245, 245, 245, 1); border-radius: 7px; height: 34px;')
                .progress-bar.progress-bar-custom.active(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 45%;background-color: rgba(77, 77, 77, 1); background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-size: 40px 40px;padding:5px;")
                  span.sr-only 45% Complete
                  small 45% 
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Remaining Task
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Remaining Stories
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small 3
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small 75
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Time Estimate
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b On Schedule
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small 20 hours
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small Early
              br
              br
              br
              
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            .col-xs-12.col-sm-12.col-md-12.col-lg-12   
              h5 Project Life Cycle    
              .progress.progress-bar-striped(style='background: rgba(245, 245, 245, 1); border: 1px solid rgba(245, 245, 245, 1); border-radius: 7px; height: 34px;')
                .progress-bar.progress-bar-custom.active(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 18%;background-color: rgba(77, 77, 77, 1); background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-size: 40px 40px;padding:5px;")
                  span.sr-only 18% Complete       
                  small 18% 
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Remaining Task
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Remaining Stories
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small 9
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small 275
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b Time Estimate
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle 
                small
                  b On Schedule
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small 350 hours
              .col-xs-6.col-sm-6.col-md-6.col-lg-6.middle
                small Early
              br
              br
  section
    #task.container
      .row
        .col-xs-12.col-sm-7.col-md-8.col-lg-8.pull-left
          h3
            span.glyphicon.glyphicon-tasks
            |   Task Priority 
        .col-xs-12.col-sm-5.col-md-4.col-lg-4.pull-right
          br
          h4
            |  Project Task List     
          if project
            ul.list-group
              for task in project.task
                li.list-group-item
                  a.text-muted(href='/project/' + project.task.id) #{project.task.name}
          else
            small
              b None
          br
          br
          br
        .col-xs-12.col-sm-7.col-md-8.col-lg-8.pull-left
          h4 Current Task List   
          if project
            ul.list-unstyled
              for task in project.task
                if project.task.status == 'active'
                  li
                    a.text-muted(href='/project/' + project.task.id) #{project.task.name}
          else
            small
              b None
          br
          br
          br
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h4
            span.glyphicon.glyphicon-th
            |  Task Stories
          small Stories are arranged by task and priority.
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          if project
            for task in project.task
              for story in task.stories
                .col-xs-6.col-sm-4.col-md-3.col-lg-3
                  .panel.panel-default
                    .col-xs-6.col-sm-6.col-md-6.col-lg-6
                      h5 Story #
                    .col-xs-6.col-sm-6.col-md-6.col-lg-6
                      small 
                        b State:  
                        |  Incomplete
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                      p Description
                      br
                      br
                  br
                  br
            br
            br
          else
            small
              b None
              br
              br
              br
  section(style='background:#fdfdfd;')
    hr(style='margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px;')
    #pbi.container
      .row
        .col-xs-12.col-sm-7.col-md-8.col-lg-8.pull-left
          h3 Product Inventory Backlog
          small User stories that are desired but will not be present in release 1.0.
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          if project
            for item in project.pbi
              .col-xs-6.col-sm-4.col-md-3.col-lg-3
                .panel.panel-default
                  .col-xs-6.col-sm-6.col-md-6.col-lg-6
                    h5 Story #
                  .col-xs-6.col-sm-6.col-md-6.col-lg-6
                    small 
                      b State:  
                      |  Incomplete
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    p Description
                    br
                    br
          else
            small
              b None
          br
          br
          br
          
