// Begin Jade template.
extends ../layout
//-HTML content to display.
block content
  #main.jumbotron
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h1 About Project 
          p(style='margin-bottom:0px;padding-bottom:0px;') Its a great project.
          ul.nav.nav-pills(role="tablist", style='margin-top:0px;padding-top:0px;')
            li(role="presentation", style='padding:0px; padding-right:20px;')
              h4 About      
            li(role="presentation")
              a.text-muted(href="#project") » Project
            li(role="presentation")
              a.text-muted(href="#author") » Author
  section
    #project.container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h3 About Project
          br
          br
          br
  section(style='background:#fdfdfd;padding-bottom:20px;')
    hr
    #author.container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h3 About Author
        .col-xs-12.col-sm-4.col-md-3.col-lg-3.pull-right
          br      
          .panel.panel-default(style='padding:5px;')
            img(src='/images/author.jpg', style='width:100%;') 
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.middle
            a(href='')
              img(src='/images/social/li.png')     
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.middle
            a(href='')
              img(src='/images/social/gh.png')
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.middle
            a(href='')
              img(src='/images/social/so.png')
        .col-xs-12.col-sm-8.col-md-9.col-lg-9.pull-left
          h4 Summary
          p 