// Begin Jade template.
extends ../layout
    

block js-top
  script(type='text/javascript').
    var projectObj = !{JSON.stringify(project)}   

include ./mixins/forms.jade

block js-bottom
  script(src='/js/project-manager.js')
  script(src='/js/stats.js')


//-HTML content to display.
block content
  if project
    include ./mixins/manage.jade
    #main.jumbotron
      .container
        .row
          +manager()
    section
      #manage.container
        .row(style='padding-left:15px;')
          +projectItems()
  else
    section#main
      .container
        .row
          h1 Create Project
          form#create-project-form(action='/project/create', method='POST')
            +projectForm()
            +formProcessBtn()

        
          