extends ../layout

include ./mixins/index.jade

//-HTML content to display.
block content
  #main.jumbotron(style='background-image:url("/images/survey/analysis-bg.jpg");background-attachment:fixed;background-size:cover;')
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h2 Conduct Questionnaire Activity
          p Send request to your personal contact list with email or your social network. Distribute an open link for all to access.  
          a.btn.btn-default.btn-md(href="/guide",role="button") Guide Me »            
  section#conduct.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12