extends ../layout

include ./mixins/index.jade
include ./mixins/create.jade

//-HTML content to display.
block content
  #main.jumbotron(style='background-image:url("/images/survey/analysis-bg.jpg");background-attachment:fixed;background-size:cover;margin-bottom:0px;')
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h2 Create Questionnaire
          p Content and prefferences. 
          a.btn.btn-default.btn-md(href="/guide",role="button") Guide Me »            
  section#create.container
    if user.credentials.alias != 'Guest'
      -console.log(user);
      +managerMenu()
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          +addSurveyDetail()
          if surveys.length
            script $('#add-detail').collapse();
            +whatToDo()
            +selectSurveyDetail()
    else 
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          br
          br
          p.middle You are not signed in.  If you already have an account 
            +signIn()  
            |   or if not   
            +register()  
            | .
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br