extends ../layout

include ./mixins/index.jade

//-HTML content to display.
block content
  #main.jumbotron(style='background-image:url("/images/survey/analysis-bg.jpg");background-attachment:fixed;background-size:cover;margin-bottom:0px;')
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h2.pull-left(style='margin-right:10px;') Add Questions to 
          h2.pull-left(style='opacity:0.7;') #{survey.name} 
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          p Add questions to my questionnaire.
          a.btn.btn-default.btn-md(href="/guide",role="button") Guide Me »            
  section#create.container
    +managerMenu()
    +newQuestionBtns()
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      +newSingleQuestion()
      +newMultiQuestion()
      +newOpinionQuestion()
    if survey.questions
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        +myQuestions()
    else
      #my-questions.collapse.in.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='opacity:0.5;')
        br
        br
        p Start adding questions your your questionnaire with one of the above reponse options.
    if question
      script loadQuestion(!{JSON.stringify(question)}, !{JSON.stringify(survey)});
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br