mixin appLinks()
  ul.nav.navbar-nav(style='margin:0px,padding:0px;')
    li
      a(href='/app')   
        span.glyphicon.glyphicon-tags      
        |     My Apps
        
mixin appUserLinks()
  li
    a(href='/app/new') New App  &nbsp; 
  li
    a(href='/app') My Apps  &nbsp; 