mixin appLinks()
  ul.nav.navbar-nav(style='margin:0px,padding:0px;')
    li
      a(href='/survey/user/keyaccess')   
        span.glyphicon.glyphicon-tags      
        |     My Apps
        
mixin appUserLinks()
  li
    a(href='/survey/user/key') New App  &nbsp; 
  li
    a(href='/survey/user/keyaccess') My Apps  &nbsp; 