mixin appLinks()
  ul.nav.navbar-nav(style='margin:0px,padding:0px;')
    li
      a(href='/survey/create')   
        |   Create    
        span.glyphicon.glyphicon-leaf   
    li
      a(href='/survey/conduct')   
        |   Conduct   
        span.glyphicon.glyphicon-grain  
    li
      a(href='/survey/analyze')   
        |   Analyze   
        span.glyphicon.glyphicon-tree-deciduous   
        
mixin appUserLinks()
  li
    a(href='/survey/user') Overview  &nbsp; 
  li
    a(href='/survey/open/user') Conducting  &nbsp; 
  li
    a(href='/survey/closed/user') Not Conducting  &nbsp; 