#login-form-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginLabel', aria-hidden='true')
  .modal-dialog.modal-sm
    .modal-content
      form#login-form(role='form', method='POST', action='/authentication')
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') &times;
            span.sr-only Close
          h4#loginLabel.modal-title Sign In
        .modal-body        
          h5 With social account:
          //.fb-login-button(data-size="icon", data-show-faces="false", data-auto-logout-link="false")
          ul.list-inline
            li
              a.btn.btn-social-icon.btn-linkedin(onclick="liLogin();")
                i.fa.fa-linkedin
            li
              a.btn.btn-social-icon.btn-facebook(onclick="fbLogin();")
                i.fa.fa-facebook
            li
              a.btn.btn-social-icon.btn-googl-plus(onclick="gplusLogin();")
                i.fa.fa-google-plus
          hr
          h5 Email or Login Name:
          +loginFields()
          .input-group
            .checkbox(style='margin-left: 22px; margin-bottom: 0px;')
              input(type='checkbox', name='remember')
              | Remember me
        .modal-footer
          button.btn.btn-lg.btn-blocks(type='submit') Submit