include ../mixins/navigation.jade

if userType(user.authentications) === 'guest'
  include login.jade
  include register.jade

nav.navbar.navbar-inverse(role='navigation',style='margin:0px;padding:0px;')
  .container-fluid(style='margin:0px;padding-left:0px;')
    .navbar-header.navbar-left.col-xs-8.col-sm-4.col-md-4.col-lg-2(style='padding:0px; margin:0px;')
      a.collapsed.navbar-toggle(data-toggle='collapse', data-target='#navigation', style='float:left;border:0px;padding:0px;padding-top:10px;margin:0px;')
        h4(style='margin:0px;padding:10px;color:white;white-space:nowrap;')
          img(src='/images/site/logo-ico.png', style='margin-top:0px;padding-top:0px;height:30px;')
          |  Mind Research 
          span.caret.text-muted(style='margin:0px;padding:0px;margin-right:10px;')
      .navbar-brand.hide-sm(style='float:left;padding:0px;border:0px;margin:0px;margin-top:0px;padding-top:0px;')
        a(href='/', style='margin:0px;padding:0px;margin-top:0px;padding-top:0px;')
          h4(style='margin:0px;padding:10px;color:white;white-space:nowrap;')
            img(src='/images/site/logo-ico.png', style='margin-top:0px;padding-top:0px;height:30px;')
            |  Mind Research  
    #navigation.collapse.navbar-collapse.navbar-left.col-xs-12.col-sm-4.col-md-3.col-lg-6(style='padding:0px; margin:0px;')
      +navLinks()
    #usernavigation.navbar-right.col-xs-4.col-sm-4.col-md-5.col-lg-4(style='padding:0px; margin:0px;float:right;')  
      +navUser()