include ../mixins/navigation.jade

nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed.btn-xs(type='button', data-toggle='collapse', data-target='#navigation')
        span.sr-only Toggle navigation
        span.glyphicon.glyphicon-th-list
      a.navbar-brand(href='/')
        font(color='#cd610a')
          b Template
        font(color='black')
          b Base
    #navigation.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        block nav
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.nav-button.dropdown-toggle(data-toggle='dropdown')
            .nav-profile-name.pull-left
              if user.user.type != 'guest'
                small Signed in as: 
                .nav-user #{user.user.name} &nbsp;  
              else
                img(src='/images/user/loginregister.png', style='height:40px;')
            | &nbsp;  
            .nav-profile-icon.pull-right
              +userIcon() 
          ul.dropdown-menu(role='menu')
            if user.user.type == 'admin' 
              +adminNav()
            else if user.user.type == 'user'
              +generalUserNav()
            else
              li
                +signIn()
              li.divider
              +guestNav()
            if user.user.type != 'guest'
              li.divider  
              +navItem('/account', 'My Profile')
              +navItem('/authentication/logout','Sign Out')
                span.glyphicon.glyphicon-log-out
                
if user.user.type == 'guest'
  include login.jade
  include register.jade