include ../mixins/navigation.jade

nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed.btn-xs(type='button', data-toggle='collapse', data-target='#navigation')
        span.sr-only Toggle navigation
        span.glyphicon.glyphicon-th-list
      a.navbar-brand(href='/')
        font(color='#cd610a')
          b Template
        font(color='black')
          b Base
    #navigation.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        block nav
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.nav-button.dropdown-toggle(data-toggle='dropdown')
            .nav-profile-name.pull-left
              if user.user.type != 'guest'
                small Signed in as: 
                .nav-user #{user.user.name} &nbsp;  
              else
                img(src='/images/user/loginregister.png', style='height:40px;')
            | &nbsp;  
            .nav-profile-icon.pull-right
              +userIcon() 
          ul.dropdown-menu(role='menu')
            if user.user.type == 'admin' 
              +adminNav()
            else if user.user.type == 'user'
              +generalUserNav()
            else
              li
                +signIn()
              li.divider
              +guestNav()
            if user.user.type != 'guest'
              li.divider  
              +navItem('/account', 'My Profile')
              +navItem('/authentication/logout','Sign Out')
                span.glyphicon.glyphicon-log-out
                
if user.user.type == 'guest'
  #login-form-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginLabel', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        form#login-form(role='form', method='POST', action='/authentication')
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only Close
            h4#loginLabel.modal-title Sign In
          .modal-body
            +loginFields()
            .input-group
              .checkbox(style='margin-left: 22px; margin-bottom: 0px;')
                input(type='checkbox', name='remember')
                | Remember me
          .modal-footer
            button.btn.btn-lg.btn-blocks(type='submit') Submit
            
  #register-form-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='registerLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        form#register-form(role='form', method='POST', action='/authentication/register')
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only Close
            h4#registerLabel.modal-title Register Account
          .modal-body.row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              +userCredentialFields()
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                small Add More Detail (Optional)
                hr(style='margin:0px;')
                .profile-option-group(style='margin:0px;padding:0px;')
                  a.btn.profile-option.pull-left(href='#', data-toggle='collapse', data-target='#user-name') +  Real Name 
                    span.glyphicon.glyphicon-user 
                  a.btn.profile-option.pull-left(href='#', data-toggle='collapse', data-target='#user-detail') +  Demographic Detail 
                    span.glyphicon.glyphicon-info-sign 
                  a.btn.profile-option.pull-left(href='#', data-toggle='collapse', data-target='#user-contact') +  Contact Information 
                    span.glyphicon.glyphicon-envelope 
              br 
              +userNameFields()
              +userDetail()
              +userContact()
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              br
              +registerAcceptButtons()