// Begin Jade template.
extends layout
   
  
//-HTML content to display.
block content
  #main.jumbotron
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h1 About Project Mind Research
          By Brandon Laurence Clark
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h3 Background
            p Project Mind Research is a project created for Brandon Laurence Clark's Masters in fotware Engineering program project at California State University Fullerton.