// Begin Jade template.
extends layout

include ./blog/mixins/index.jade

//-HTML content to display.
block content
  #main.jumbotron(style='background-image:url("/images/survey/analysis-bg.jpg");background-attachment:fixed;background-size:cover;')
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          br
          h1 User Guide
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.middle
            h4.pull-left(style='text-align:left;') Need help using the tools?  Read this, it might help!  
          br
          
  section#guide.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-xs-12.col-sm-4.col-md-3.col-lg-3
          .panel.panel-default
            .panel-body
              h5 User Guide's  
              hr            
              ul.nav.nav-pills.nav-stacked
                li(role="presentation") 
                  a(href='#reg-nav') Registration & Navigation
                li(role="presentation") 
                  a(href='#create') Create 
                li(role="presentation") 
                  a(href='#conduct') Conduct
                li(role="presentation") 
                  a(href='#analyze') Analyze
        .col-xs-12.col-sm-8.col-md-9.col-lg-9
          h1#reg-nav Register and Navigation
          hr
          h3 Register new account or log-in. 
          p Service management are permitted to registered accounts.
          img(src='/images/survey/guide-sign.png', style='width:200px;')
          br
          h3 Navigation
          p Once registered you will have access to a top bar menu or drop down navigation for services and profile management. Top bar navigation will be formatted into drop down menu in mobile viewing mode.
          img(src='/images/survey/guide-navigation.png', style='width:80%;')
          br
          br
          h1#create Create Questionnaire
          hr
          h3 New Questionnaire
          p When creating questionnaires users must first generate a questionnaire before they can begin requesting response.  Press the Create link located in your navigation.
          br
          h3 Questionnaire Details
          br
          h4 Required Questionnaire Details
          p There are several details required for you to have. A questionnaire name, description and category of the research topic.
          img(src='/images/survey/guide-required-fields.png', style='width:100%;')
          br
          br
          br
          h4 Personalized Questionnaire Details
          p Additionally users can customize their questionnaires experience with customized header image and response to respondents of a questionnaire.  Press the “More Detail” button below the required fields for this option.
          img(src='/images/survey/guide-optional-fields.png', style='width:100%;')
          br
          br
          br
          h3 Adding Questions
          p When you have completed entering the details of your questionnaire utoyou may proceed to adding the questions you wish to ask by pressing the questions button below the detail form. Available option types appear when request is made to add a response option to any of the following three question types.
          img(src='/images/survey/guide-questions.png')
          br
          br
          br
          h4 Single Response
          p Single response question allow entry of predefined and user entered (Other Choice option) selection values. Users may only choose one option listed.
          br
          h4 Multiple Response
          p Multiple response questions are like single response question with the exception that a respondent can choose one to all options listed.
          br
          h4 Opinion Based Response
          p Qualitative questions are permitted and will require only the question to be asked.
          br
          h3 Edit Questionnaire
          p If you have existing project you have already started and not began conducting it can be found in the “Still Working” section when the “Create” section is loaded.
          br
          h3 Begin Conducting Questionnaire Activity
          p When you completed adding questions you may begin conducting your questionnaire. This is located above the question options.
          img(src='/images/survey/guide-begin-conduct.png', style='width:200px;')
          br
          br
          br
          br
          h1#conduct Questionnaire Conducting Activity
          hr
          h3 Manage Conducting Activity
          p You can manage conducting activity from a list of currently conducting questionnaires. You may choose to share the questionnaire with the public with a direct link located under the name of your questionnaire.
          img(src='/images/survey/guide-conduct-manager.png', style='width:100%;')
          br
          br
          br
          h3 Conclude Questionnaire Conducting
          p If you have left your questionnaires date open ended you will need to press the conclude button to stop the questionnaire conducting process. No response to the survey will be able to be inputted after this point.
          br
          h3 Pause Conducting
          p Sometimes you may need to make an edit to your questionnaire (e.g. typos, detail changes). This is how you may go back and edit your questionnaire.
          br
          h3 Response Request Tool
          p To request response choose the “Request” link for your questionnaire. Request are emailed specified users and will track their feedback status with a completed check mark when responded to. You can add email contacts directly or import your Gmail contact list.
          img(src='/images/survey/guide-response-tool.png', style='width:350px;')
          br
          br
          br
          br
          h1#analyze Analyze Questionnaire Responses
          hr
          h3 Automated Statistical Reports
          p Both registered and non-registered users can view response statistics generated by the automated analysis for quantitative and qualitative questions. A link will be provided to general users when they have submitted their response. Registered users will be able to access these reports from their analysis manager under the top menu option “Analyze”.
          img(src='/images/survey/guide-analyze.png', style='width:100%;')
          br
          br
          br
          h3 View Response Forms
          p As a registered user you can view each of the questionnaire response that has been submitted. This is useful when evaluating qualitative question response.  Under you manager you will see analysis options for your concluded questionnaires and you currently conducting questionnaires.
          img(src='/images/survey/guide-analyze-manager.png', style='width:100%;')
          br
          br
          br
          br
          
          