// Begin Jade template.
extends layout

include ./blog/mixins/index.jade

//-HTML content to display.
block content
  #main.jumbotron
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          h1 Hello
  section#news.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        a(href='/blog')
          h3(style='margin-bottom:0px;') Updates 
        // Loop is used incase backend request 1 < n       
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          br
          h4 Social Media Feeds
          br        
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          a(href='http://www.linkedin.com/in/clarkbrandon')
            img(src='/images/social/li.png')
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          a(href='https://twitter.com/TheMindSpot')
            img(src='/images/social/tw.png')
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
          a(href='https://plus.google.com/104321729401342028595?prsrc=3')
            img(src='/images/social/gp.png')          
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
        .col-xs-2.col-sm-2.col-md-2.col-lg-2
        for j in blog
          +titlePageShort(j)     
    br
    br
  section(style='background:#fdfdfd;')
    hr(style='margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px;')
    #about.container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12

          
// End Jade Template
