// Begin Jade template.
extends layout

include ./blog/mixins/index.jade

//-HTML content to display.
block content
  #main.jumbotron(style='background-image:url("/images/survey/analysis-bg.jpg");background-attachment:fixed;background-size:cover;')
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          br
          h1 Giving you the egde on consumer information the way you need it!
          br
          
  section#how-it-works.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 How It Works
        .col-xs-6.col-sm-6.col-md-4.col-lg-4.middle
          img(src='/images/survey/create-growth.png', style='width:200px;')
          hr
          small Create a questionnaire for the topic of your choice with questions that have meaning to your organization.
          br
          br
          br
        .col-xs-6.col-sm-6.col-md-4.col-lg-4.middle
          img(src='/images/survey/conduct-growth.png', style='width:200px;')
          hr          
          small Get consumer response by conducting questionnaire request with email, text and social platforms.
          br
          br
          br
        .col-xs-3.col-sm-3.col-md-0.col-lg-0
        .col-xs-6.col-sm-6.col-md-4.col-lg-4.middle
          img(src='/images/survey/analyze-growth.png', style='width:200px;')
          hr
          small Wait for consumers to respond to your request and make your numbers valuable to your organization with Mind Research tools.
          br
          br
          br
        .col-xs-3.col-sm-3.col-md-0.col-lg-0
  section(style='position:relative;')
    div(style='position:absolute;height:100%;top:0;right:0;bottom:0;left:0;background-image:url("/images/survey/analysis-bg.jpg");background-attachment:fixed;background-size:cover;opacity:0.3;')
    hr(style='margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px;')
    #about.container(style='z-index:100;')
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12   
          .col-xs-12.col-sm-8.col-md-8.col-lg-8
            br
            h4 Recent Questionnaire's
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
          .col-xs-12.col-sm-4.col-md-4.col-lg-4
            br
            h4 Mind Research Update's
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.middle
            br
            h5 
              b Follow #{title}    
              |    
              a(href='http://www.linkedin.com/in/clarkbrandon')   
                img(src='/images/social/li.png', style='width:13px;')      
              |    
              a(href='https://twitter.com/TheMindSpot')    
                img(src='/images/social/tw.png', style='width:13px;')    
              |    
              a(href='https://plus.google.com/104321729401342028595?prsrc=3')    
                img(src='/images/social/gp.png', style='width:13px;')   
            br
            br

          
// End Jade Template
