// Begin Jade template.
extends layout

include ./blog/mixins/index.jade

//-HTML content to display.
block content
  #main.jumbotron(style='background-image:url("/images/survey/analysis-bg.jpg");background-attachment:fixed;background-size:cover;')
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
          br.hide-md
          br.hide-md
          h1.pull-left(style='font-size:50px;') Giving you the egde on consumer information the way you need it!  
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
          img.pull-right(src='/images/survey/ptd.png', style='width:100%;')
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            p.pull-left(style='text-align:right;padding-top:20px;') Mind Research Questionnaire Tools   
            a.btn.btn-lg.btn-success.pull-right(href="/survey/create",role="button",style='margin-top:10px;') Get Started »  
          br
          
  section#how-it-works.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h2 How It Works
        .col-xs-6.col-sm-6.col-md-4.col-lg-4.middle
          img(src='/images/survey/create-growth.png', style='width:200px;')
          hr
          p(style='padding: 0px 10px;') Easy questionnaire generation so you can begin to seed and feed your question data.
          br
          br
          br
        .col-xs-6.col-sm-6.col-md-4.col-lg-4.middle
          img(src='/images/survey/conduct-growth.png', style='width:200px;')
          hr          
          p(style='padding: 0px 10px;') Request others to respond to questionnaires to facilitate the growth of data.
          br
          br
          br
        .col-xs-3.col-sm-3.col-md-0.col-lg-0
        .col-xs-6.col-sm-6.col-md-4.col-lg-4.middle
          img(src='/images/survey/analyze-growth.png', style='width:200px;')
          hr
          p(style='padding: 0px 10px;') Review questionnaires and enjoy the data you have grown.
          br
          br
          br
        .col-xs-3.col-sm-3.col-md-0.col-lg-0
  section(style='position:relative;')
    div(style='position:absolute;height:100%;top:0;right:0;bottom:0;left:0;background-image:url("/images/survey/analysis-bg.jpg");background-attachment:fixed;background-size:cover;opacity:0.3;')
    hr(style='margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px;')
    #about.container(style='z-index:100;')
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12   
          .col-xs-12.col-sm-8.col-md-8.col-lg-8
            br
            h4 
              a(href='/survey') Recent Questionnaire's
            br
            if surveys.length
              ul.list-group
                for i in surveys
                  li.list-group-item
                    .col-xs-10.col-sm-9.col-md-10.col-lg-10  
                      p 
                        b 
                          if i.state != 2
                            a(href='/survey/' + i.id) #{i.name}
                          else 
                            a(href='/survey/result/' + i.id) #{i.name} 
                    .col-xs-2.col-sm-3.col-md-2.col-lg-2
                      if i.state == 1
                        a(href='/survey/result/' + i.id)
                          span.badge.btn-success Conducting
                      else if i.state == 2
                        a(href='/survey/result/' + i.id)
                          span.badge.btn-warning Concluded
                    br
          .col-xs-12.col-sm-4.col-md-4.col-lg-4
            br
            h4.pull-right Mind Research Update's
            br
            if blog.length
              br
              ul.list-group
                br
                for j in blog
                  li.list-group-item(role="presentation") 
                    small.pull-right
                      a(href='/blog/' + j.id ) #{j.article.title}
                    br
            else
              small No updates...
          .col-xs-12.col-sm-12.col-md-12.col-lg-12.middle
            br
            h5 
              b Follow #{title}    
              |    
              a(href='http://www.linkedin.com/in/clarkbrandon')   
                img(src='/images/social/li.png', style='width:13px;')      
              |    
              a(href='https://twitter.com/TheMindSpot')    
                img(src='/images/social/tw.png', style='width:13px;')    
              |    
              a(href='https://plus.google.com/104321729401342028595?prsrc=3')    
                img(src='/images/social/gp.png', style='width:13px;')   
            br

          
// End Jade Template
