doctype html
html
  head
    title= title
    
    block meta
    
    include ./css/index.jade
    include ./js/top.jade
    block head
    
  body
    script(src='/js/social/fb.js')
    include ./components/navbar.jade
    block content
    
    include ./components/footer.jade
    include ./js/bottom.jade
