doctype html
html
  head
    title= title
    include ./css/index.jade
    include ./js/top.jade
  body
    include ./components/navbar.jade
    block content
    
    br
    br
    br
    include ./components/footer.jade
    include ./js/bottom.jade
