@CHARSET "UTF-8";

* {	
	margin: 0;
	padding: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 0px;
}

body h1 {
	font-weight: bold;
	color: #000000;
}

body h2 {
	font-weight: bold;
	color: #161616;
}

body h3 {
	font-weight: bold;
	color: #222222;
}

body h4 {
	font-weight: bold;
	color: #383838;
}

body h5 {
	color: #494949;
}

body h6 {
	color: #5a5a5a;
}

.text-muted{
	font-weight: normal;	
}

.skills-section{
	margin:0;
	padding-left:35px;
	padding-right:35px;
}

.skills-section .skill-pill{
	float:left;
	margin-top:2px;
	margin-bottom:0px;
}

.skills-section.compact-view .skill-pill{
	float:left;
}

.skill-pill{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;zoom:1;
	*display:inline;overflow:hidden;
	cursor:default;white-space:nowrap;
}

.skill-pill .endorse-item-name{
	float:left;
	line-height:24px;
}

.endorse-item-name{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:13px;
	padding-right:13px;
	font-size:13px;
	line-height:17px;
	color:#333;
	font-weight:normal;
	background-color:#f0f0f0;
	position:relative;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

ul.nav.navbar-nav > li > a:link,ul.nav.navbar-nav > li > a:visited{
	font-weight: normal;
	color: #f1f1f1;
}

ul.nav.navbar-nav > li.disabled > a:link,ul.nav.navbar-nav > li.disabled > a:visited{
	font-weight: normal;
	color: #686868;
}

ul.nav.navbar-nav > li > a:hover,ul.nav.navbar-nav li > a:active{
	color: #989898;
}


a, a:link, a:visited{
	color: #000000;
	font-weight: bold;
}

.middle {
	text-align: center;
	verticle-align:middle;
	margin: 0px auto;
	padding: 5px;
}

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-control-feedback {
	margin-top:-25px;
}

.show-md{
	display:none;
}

.show-sm{
	display:none;
}
#navbar-signin{
		display:none;
}
	
@media (min-width:991px) {
	 #usernavigation {
		width:440px;
	}
}
	
@media (max-width: 991px) {
	.hide-md{
		display:none;
	}
	#navbar-signin{
		display:block;
	}
}
@media (max-width: 768px) {
	.hide-sm{
		display:none;
	}
}

.big-text{
	font-size:200%;
	text-align:center;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top:20px;
  margin-top:20px;
}
.footer img {
  margin:-10px;
  padding:0px;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.story-item, .task-item{
	margin:0px;
	padding:15px;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}