mixin managerConductMenu()
  .row(style='margin:0px;padding:0px;opacity:0.3;')
    #manager-menu.collapse.col-xs-12.col-sm-12.col-md-12.col-lg-12.pull-right(style='margin:0px;padding:0px;')
      ul.nav.nav-pills(style='margin:0px;padding:0px;')
        .hr.vr.pull-left 
        .hr.vr.pull-right 
        //li#save-btn.pull-right.disabled(role='presentation', style='margin:0px;')
        //  a(href='', style='font-weight:500;')  
        //    span.glyphicon.glyphicon-floppy-disk  
        //    |  Save
        //.hr.vr.pull-right
        li.back-btn.pull-right(role='presentation', style='margin:0px;')
          a(role='button',data-toggle="collapse", data-target="#select-respondants", aria-expanded="false", aria-controls='select-respondants', style='font-weight:500;')   
            span.glyphicon.glyphicon-arrow-left  
            |  Back
        .back-btn.hr.vr.pull-right.hide
      hr(style='margin:0px;padding:0px;')

mixin addEmailContact()
  row.col-xs-12.col-sm-12.col-md-12.col-lg-12
    #email-contact.collapse.col-xs-12.col-sm-12.col-md-12.col-lg-12
      br
      br
      small(style='opacity:0.5;margin:0px;padding:0px;') Add Respondant Email
      hr(style='opacity:0.5;margin:0px;padding:0px;')
      br
      br
      form(method='POST', action='/survey/conduct/request/add')
        input(type='hidden', name='id', value=survey.id)
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          label(for='name') Name
          input.form-control(type='text', name='name')
          br
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          label(for='email') Email Address 
          input.form-control(type='email', name='email')
          br       
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            hr(style='opacity:0.5;')
            br 
          button.btn.btn-md.btn-default.pull-right(type='submit') Add Email
          
mixin emailContactsBtn()
  a.question-btn(onclick='$("#responses-none").hide();', role='button',data-toggle="collapse", data-target="#email-contact", aria-expanded="false", aria-controls="email-contact")
    .panel.panel-default.middle(style='width:100px;height:100px;border-radius:15px;padding-top:17px;')
      .panel-body.middle
        img(src='/images/survey/conduct-email.png', style='width:70%;')
  h5.middle(style='opacity:0.7;') 
    small Add Email  
 
mixin gmailContactsBtn()
  a.question-btn(onclick='gmailContacts();$("#responses-none").hide();$("#select-gmail").addClass("in");', role='button',data-toggle="collapse", data-target="#gmail-contact-list", aria-expanded="false", aria-controls="gmail-contact-list")
    .panel.panel-default.middle(style='width:100px;height:100px;border-radius:15px;padding-top:19px;')
      .panel-body.middle
        img(src='/images/survey/conduct-gmail.png', style='width:70%;')
  h5.middle(style='opacity:0.7;') 
    small Import Contacts   

mixin newRespondantsBtns()
  br
  #select-respondants.row.collapse.in
    script $('#select-respondants').on('show.bs.collapse', function() {$('#manager-menu').collapse('hide');});
    script $('#select-respondants').on('show.bs.collapse', function() {$('#select-gmail').removeClass('in');});
    script $('#select-respondants').on('show.bs.collapse', function() {$('#email-contact').removeClass('in');});
    script $('#select-respondants').on('show.bs.collapse', function() {$('#responses').addClass('in');});
    .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
      br
      .col-xs-4.col-sm-4.col-md-3.col-lg-2
        +emailContactsBtn()
      .col-xs-4.col-sm-4.col-md-3.col-lg-2
        +gmailContactsBtn()
      .col-xs-4.col-sm-4.col-md-3.col-lg-2
    script $('.question-btn').on('click', function() {$('#select-respondants').collapse('hide');$('#responses').removeClass('in');$('#manager-menu').collapse('show');});

