mixin newSingleQuestion()
  .row#new-single-question.collapse
    script $('#new-single-question').on('shown.bs.collapse', function() {$('.back-btn').removeClass('hide');});
    script $('#select-question').on('show.bs.collapse', function() {$('#new-single-question').removeClass('in');$('.back-btn').addClass('hide');});
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      br
      small(style='opacity:0.4;') Single Answer Response
      form#single-question-form(action='/survey/create/question/add/' + survey.id, method='POST')
        +questionForm('single')
      
    
mixin newMultiQuestion()
  .row#new-multi-question.collapse
    script $('#new-multi-question').on('shown.bs.collapse', function() {$('.back-btn').removeClass('hide');});
    script $('#select-question').on('show.bs.collapse', function() {$('#new-multi-question').removeClass('in');$('.back-btn').addClass('hide');});
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      br
      small(style='opacity:0.4;') Multiple Answer Response
      form#multi-question-form(action='/survey/create/question/add/' + survey.id, method='POST')
        +questionForm('multi')
    
    
mixin newOpinionQuestion()
  .row#new-opinion-question.collapse
    script $('#new-opinion-question').on('shown.bs.collapse', function() {$('.back-btn').removeClass('hide');});
    script $('#select-question').on('show.bs.collapse', function() {$('#new-opinion-question').removeClass('in');$('.back-btn').addClass('hide');});
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      br
      small(style='opacity:0.4;') Opinion / Feedback Answer Response
      form#opinion-question-form(action='/survey/create/question/add/' + survey.id, method='POST')
        +questionForm('opinion')
        

mixin submitQuestionBtns()
  .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
    br
    br
    button.btn.btn-md.btn-default.pull-right(type='submit') Add
    a.cancel-submit-question.btn.btn-md.btn-inverse.pull-right(role='button',style='margin-right:10px;color:white;', data-toggle="collapse", data-target=".question-type-option", aria-expanded="false", aria-controls="question-type-option") Cancel
    br
    br
    if survey.options
      script $('.cancel-submit-question').on('click', function(){$('.option-selection-choices').collapse('show');});


mixin provideQuestion()
  .provide-option-question.collapse.pull-right.col-xs-12.col-sm-12.col-md-12.col-lg-12
    script $('.provide-option-question').on('show.bs.collapse', function() {$('.question-type-option').removeClass('in');})
    br
    label(for='response') Provide Option 
    textarea.form-control(name='response', style='height:100px;', placeholder='Provide option for your respondent here.')
    br
    +submitQuestionBtns()


mixin openQuestion()
  .user-provided-question.collapse.pull-right.col-xs-12.col-sm-12.col-md-12.col-lg-12
    script $('.user-provided-question').on('show.bs.collapse', function() {$('.question-type-option').removeClass('in');})
    br
    .col-xs-12.col-sm-3.col-md-3.col-lg-3(style='margin:0px;padding:0px;')
      label(for='label') Option Label
      input.form-control(type='text', name='label', placeholder='Other')
      small.pull-right(style='opacity:0.3;') e.g. Example, Preffered 
      br
    .col-xs-0.col-sm-1.col-md-1.col-lg-1(style='margin:0px;padding:0px;')
    .col-xs-12.col-sm-8.col-md-8.col-lg-8(style='margin:0px;padding:0px;')
      label(for='label_placeholder') User Written Response
      input.form-control.disabled(type='text', name='label_placeholder', placeholder='User provides response here.', disabled)
      br
    +submitQuestionBtns()


mixin opinionQuestion(alt)
  .opinion-question.collapse.pull-right.col-xs-12.col-sm-12.col-md-12.col-lg-12
    script $('.opinion-question').on('show.bs.collapse', function() {$("input[name=option]").val("opinion");$('.question-type-option').removeClass('in');})
    br
    label(for='placeholder') User Written Response
    textarea.form-control.disabled(name='placeholder', style='height:150px;', placeholder='User provides response here.', disabled)
    br
    if alt == 'true'
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin:0px;padding:0px;')
        br
        br
        button.btn.btn-md.btn-default.pull-right(type='submit') Add
    else
      +submitQuestionBtns()

    
mixin questionForm(type)
  input.form-control(type='hidden', name='type', value=type)
  br
  label(for='question') Question
  textarea.form-control(name='question', style='height:75px;', required)
  br
  br
  hr.hide-sm(style='margin:0px;padding:0px;')
  if type != 'opinion' 
    .col-xs-12.col-sm-3.col-md-3.col-lg-2(style='margin:0px;padding:0px;')
      a.btn.btn-md.btn-inverse.add-new-btn(style='color:white;margin-top:3px;margin-right:5px;',role='button', data-toggle="collapse", data-target=".question-type-option", aria-expanded="false", aria-controls="question-type-option") + Add Option
      br
      br
  .question-type-option.collapse.col-xs-12.col-sm-9.col-md-9.col-lg-10(style='margin:0px;padding:0px;')
    hr.show-sm(style='margin:0px;padding:0px;')
    input.questionOption.form-control(type='hidden', name='option')
    if type != 'opinion' 
      script $('.question-type-option').on('shown.bs.collapse', function() {$('.option-selection-choices').collapse('show');$('.user-provided-question').removeClass('in');$('.provide-option-question').removeClass('in');})
      ul.nav.nav-pills(style='margin:0px;padding:0px;max-height:40px;height:40px;min-height:40px;overflow:hidden;opacity:0.5;')
        li(role='presentation', style='margin:0px;')
          a.middle(onclick='$(".questionOption").val("provide");', style='font-weight:500;',role='button', data-toggle="collapse", data-target=".provide-option-question", aria-expanded="false", aria-controls="provide-option-question") Provide Option 
        li(role='presentation', style='margin:0px;')
          a.middle(onclick='$(".questionOption").val("open");', style='font-weight:500;', role='button', data-toggle="collapse", data-target=".user-provided-question", aria-expanded="false", aria-controls="user-provided-question") User Provided 
      
      script $('.question-type-option > ul > li > a').on('click', function(){$('.option-selection-choices').removeClass('in');});
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    br
    +provideQuestion()
    +openQuestion()
    if type == 'opinion'
      +opinionQuestion('true')
      script $('#new-opinion-question').on('show.bs.collapse', function() {$('form#opinion-question-form > .col-xs-12.col-sm-12.col-md-12.col-lg-12 > .opinion-question').addClass('in');});
    else
      +opinionQuestion('false')
  if type != 'opinion'
    .option-selection-choices.collapse.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='opacity:0.7;margin:0px;padding:0px;')
      //script $('.add-new-btn').on('click', function(){$('.option-selection-choices').removeClass('in');});
      br
      small(style='opacity:0.5;') User Response Choices
      br
      br
      table.col-xs-12.col-sm-12.col-md-12.col-lg-12
        tbody.option-list.collapse
      
      
mixin myQuestions()
  #my-questions.collapse.in.row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='opacity:0.7')
        br
        small(style='opacity:0.5;') Questions
        br
        br
        table.table
          thead
            tr
              th(style='width:3%;') 
                small(style='opacity:0.5;') #
              th(colspan=2, style='width:55%;') Question
              th(style='width:34%;') 
          - var tmpN = 1;
          tbody 
            for n in survey.questions
              tr
                th(style='width:3%;') 
                  small(style='opacity:0.5;') #{tmpN}
                td.hide-sm.middle(style='width:1%;whitespace:nowrap;')
                  if n.type == 'single'
                    img(src='/images/survey/icon-single.png', style='width:10px;opacity:0.3;')
                  if n.type == 'multi'
                    img(src='/images/survey/icon-multi.png', style='width:20px;opacity:0.3;')
                  if n.type == 'opinion'
                    img(src='/images/survey/icon-opinion.png', style='width:12px;opacity:0.3;')
                td(style='width:66%;') 
                  p(style='white-space:nowrap;overflow:hidden') #{n.question}
                td(style='width:30%;padding:0px;') 
                  ul.nav.nav-pills.pull-right(style='margin:0px;padding:0px;')
                    li.btn-xs.pull-right(role='presentation', style='margin:0px;')
                      a(href='/survey/create/question/delete/' + n.survey + '/' + n.id)  Delete
                    li.btn-xs.pull-right(role='presentation', style='margin:0px;')
                      a(onclick='loadQuestion("' + n.id + '",' + JSON.stringify(survey) + ');') Edit
              - tmpN++;


mixin singleQuestionBtn()
  a.question-btn(onclick='resetQuestionForm("' + survey.id +'");', role='button',data-toggle="collapse", data-target="#new-single-question", aria-expanded="false", aria-controls="new-single-question")
    .panel.panel-default.middle(style='width:100px;height:100px;border-radius:15px;padding-top:17px;')
      .panel-body.middle
        img(src='/images/survey/step-1.png', style='width:70%;')
  h5.middle(style='opacity:0.7;') 
    small Choose One
  

mixin multiQuestionBtn()
  a.question-btn(onclick='resetQuestionForm("' + survey.id +'");', role='button',data-toggle="collapse", data-target="#new-multi-question", aria-expanded="false", aria-controls="new-multi-question")
    .panel.panel-default.middle(style='width:100px;height:100px;padding:13px;border-radius:15px;')
      .panel-body.middle
        img(src='/images/survey/step-1.png', style='width:45%;')
        br
        img(src='/images/survey/step-2.png', style='width:45%;')
        img(src='/images/survey/step-3.png', style='width:45%;')
        br
  h5.middle(style='opacity:0.7;') 
    small All That Apply


mixin opinionQuestionBtn()
  a.question-btn(onclick='resetQuestionForm("' + survey.id +'");$("input[name=option]").val("opinion");', role='button',data-toggle="collapse", data-target="#new-opinion-question", aria-expanded="false", aria-controls="new-opinion-question")
    .panel.panel-default.middle(style='width:100px;height:100px;border-radius:15px;padding-left: 10px;padding-top:21px;')
      .panel-body.middle
        img(src='/images/survey/step-q.png', style='width:35%;')
  h5.middle(style='opacity:0.7;') 
    small Opinion / Feedback
  

mixin newQuestionBtns()
  #select-question.row.collapse.in
    script $('#select-question').on('shown.bs.collapse', function() {$('.back-btn').addClass('hide');});
    script $('#select-question').on('shown.bs.collapse', function() {$('.provide-option-question').removeClass('in');});
    script $('#select-question').on('shown.bs.collapse', function() {$('.user-provided-question').removeClass('in');});
    script $('#select-question').on('shown.bs.collapse', function() {$('.opinion-question').removeClass('in');});
    script $('#select-question').on('shown.bs.collapse', function() {$('.question-type-option').removeClass('in');});
    script $('#select-question').on('shown.bs.collapse', function() {$('.option-list').removeClass('in');});
    script $('#select-question').on('shown.bs.collapse', function() {$('.option-selection-choices').removeClass('in');});
    script $('#select-question').on('shown.bs.collapse', function() {$('.option-list').html('');});
    script $('#select-question').on('shown.bs.collapse', function() {$('#my-questions').collapse('show');});
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      br
      .col-xs-4.col-sm-4.col-md-3.col-lg-2
        +singleQuestionBtn()
      .col-xs-4.col-sm-4.col-md-3.col-lg-2
        +multiQuestionBtn()
      .col-xs-4.col-sm-4.col-md-3.col-lg-2
        +opinionQuestionBtn()
    script $('.question-btn').on('click', function() {$('#select-question').collapse('hide');$('#my-questions').collapse('hide');});


mixin managerMenu()
  .row(style='margin:0px;padding:0px;opacity:0.3;')
    #manager-menu.collapse.in.col-xs-12.col-sm-12.col-md-12.col-lg-12.pull-right(style='margin:0px;padding:0px;')
      ul.nav.nav-pills(style='margin:0px;padding:0px;')
        if survey || surveys[0]
          if survey
            if survey.questions
              .hr.vr.pull-left  
              li(role='presentation', style='margin:0px;')
                a.middle(href='/survey/conduct/begin/'+ survey.id, style='font-weight:500;') Begin Conducting   
                  span.glyphicon.glyphicon-expand
              //.hr.vr.pull-left  
              //li#preview-survey(role='presentation', style='margin:0px;')
              //  a.middle(href='', style='font-weight:500;') Preview   
              //    span.glyphicon.glyphicon-eye-open
            else 
              .hr.vr.pull-left  
              li#conduct-survey.disabled(role='presentation', style='margin:0px;')
                a.middle(href='#', style='font-weight:500;') Begin Conducting   
                  span.glyphicon.glyphicon-expand
              //.hr.vr.pull-left  
              //li#preview-survey(role='presentation', style='margin:0px;')
              //  a.middle(href='', style='font-weight:500;') Preview   
              //    span.glyphicon.glyphicon-eye-open
          else
            //.hr.vr.pull-left  
            //li#preview-survey(role='presentation', style='margin:0px;')
            //  a.middle(href='', style='font-weight:500;') Preview   
            //    span.glyphicon.glyphicon-eye-open
        .hr.vr.pull-left 
        .hr.vr.pull-right 
        //li#save-btn.pull-right.disabled(role='presentation', style='margin:0px;')
        //  a(href='', style='font-weight:500;')  
        //    span.glyphicon.glyphicon-floppy-disk  
        //    |  Save
        //.hr.vr.pull-right
        li.back-btn.pull-right.hide(role='presentation', style='margin:0px;')
          a(role='button',data-toggle="collapse", data-target="#select-question", aria-expanded="false", aria-controls='select-question', onclick'$("#select-question").collapse();', style='font-weight:500;')   
            span.glyphicon.glyphicon-arrow-left  
            |  Back
        .back-btn.hr.vr.pull-right.hide
      hr(style='margin:0px;padding:0px;')