mixin navItem(target, title)
  li
    a(href=target) #{title}

mixin adminNav()
  li.dropdown-header Administrator Menu  
  li.divider  
  +navItem('/credentials/manage', 'Manage Users')
  li.divider  
  block adminNav

mixin generalUserNav()
  li.dropdown-header User Menu
  li.divider  
  +navItem('/catalog/schedule', 'My Profile')
  li.divider  
  block generalUserNav

mixin guestNav()
  li.dropdown-header Guest User Menu
  li
    +register()

mixin signIn()
  a(role='menuitem', tabindex='-1', data-toggle='modal', data-target='#login-form') Sign In
  
mixin register()
  a(role='menuitem', tabindex='-1', data-toggle='modal', data-target='#register-form') Register Account