// Begin Jade template.
extends ../layout

include ./mixins/index.jade

block css
    
//-HTML content to display.
block content
  #fb-root
  section#main.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 Blog Article
        .col-xs-12.col-sm-12.col-md-3.col-lg-3.pull-right
          if blog
            
            +blogViews(blog.notice)
        .col-xs-12.col-sm-12.col-md-9.col-lg-9.pull-left
          +blog()
        .col-xs-12.col-sm-12.col-md-3.col-lg-3.pull-right
          +recentArticles()
        
block js-bottom