// Begin Jade template.
extends ../layout

include ./mixins/index.jade

block css
    
//-HTML content to display.
block content
  section#main.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 Blog
        .col-xs-12.col-sm-12.col-md-3.col-lg-3.pull-right
          +popularArticles()
          br
        .col-xs-12.col-sm-12.col-md-9.col-lg-9.pull-left(style='padding-left:0px;')
          +articles(blogs)


block js-bottom