// Begin Jade template.
extends ../../layout

include ./../mixins/index.jade
    
//-HTML content to display.
block content
  section#main.container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 Manage Blog Articles