script(src='/js/jquery/jquery-2.1.1.js')
script(src='/js/bootstrap/bootstrap.js')
script(src='/js/misc/uuid.js')
script(src='/js/forms.js')
script(src='/js/javascript.js')
if user.credentials.type == 'guest'
  script(src='/js/authentication.js')
block js-bottom
