- user = typeof(user) != 'undefined' ? user : { };
- site = typeof(site) != 'undefined' ? site : { };
- var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
