- user = typeof(user) != 'undefined' ? user : { };
- site = typeof(site) != 'undefined' ? site : { };
- var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
- var userType = function(auths){ 
-   for(var i in auths){
-     if(auths[i].service.code == service_code){ 
-       return auths[i].access.type;
-     }
-   }
-   return 'guest';
- };
script(src='/js/jquery/jquery-2.1.1.js')
script(src='/js/bootstrap/bootstrap.min.js')
script(src='/js/bootstrap/bootstrap-datepicker.min.js')
script(src='/js/social/general.js')
script(src='/js/javascript.js')
script(src='/js/survey/index.js')
script(src='https://apis.google.com/js/platform.js', async, defer)
script(src='/js/social/gplus.js')
script(src='//platform.linkedin.com/in.js').
  api_key:   75oc8w7sqi4q4e
  authorize: true
  lang: en_US
  scope: r_emailaddress
  //onLoad: onLinkedInLoad  
script(src='/js/social/in.js')
script(src='/js/social/twitter.js')
block js-top