- user = typeof(user) != 'undefined' ? user : { };
- site = typeof(site) != 'undefined' ? site : { };
- var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
script(src='/js/jquery/jquery-2.1.1.js')
script(src='/js/bootstrap/bootstrap.js')
script(src="/js/javascript.js")
block js-top